@model FunWithDBs.Models.DimEmployee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DimEmployee</legend>

    <div class="display-label">EmployeeKey</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeKey)
    </div>

    <div class="display-label">DimEmployee2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DimEmployee2.EmployeeNationalIDAlternateKey)
    </div>

    <div class="display-label">EmployeeNationalIDAlternateKey</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeNationalIDAlternateKey)
    </div>

    <div class="display-label">ParentEmployeeNationalIDAlternateKey</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentEmployeeNationalIDAlternateKey)
    </div>

    <div class="display-label">SalesTerritoryKey</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalesTerritoryKey)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">MiddleName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">NameStyle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameStyle)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">HireDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireDate)
    </div>

    <div class="display-label">BirthDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDate)
    </div>

    <div class="display-label">LoginID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoginID)
    </div>

    <div class="display-label">EmailAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">MaritalStatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaritalStatus)
    </div>

    <div class="display-label">EmergencyContactName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyContactName)
    </div>

    <div class="display-label">EmergencyContactPhone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyContactPhone)
    </div>

    <div class="display-label">SalariedFlag</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalariedFlag)
    </div>

    <div class="display-label">Gender</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">PayFrequency</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayFrequency)
    </div>

    <div class="display-label">BaseRate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BaseRate)
    </div>

    <div class="display-label">VacationHours</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VacationHours)
    </div>

    <div class="display-label">SickLeaveHours</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SickLeaveHours)
    </div>

    <div class="display-label">CurrentFlag</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentFlag)
    </div>

    <div class="display-label">SalesPersonFlag</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalesPersonFlag)
    </div>

    <div class="display-label">DepartmentName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartmentName)
    </div>

    <div class="display-label">StartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">EndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.EmployeeKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
